{% extends 'Schedule_App/base.html' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Settings</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Settings</li>
                        <li class="breadcrumb-item active">Change password</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>Oops!</strong> {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <br>
                    <form role="form" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <br>
                        <!-- <div class="card-footer"> -->
                        <button type="submit" class="btn btn-block btn-outline-primary btn-md">Submit</button>
                        <!-- </div> -->
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
{% endblock %}

{% block end %}
<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
</script>
{% endblock %}